.contact_section {
    margin: 7% 0 0;
    padding: 3% 15%;
    background-color: rgba(255, 213, 197, 0.255);
}

.contact_details {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact_icons img {
    height: 15rem;
    width: 15rem;
}

.social_icons {
    text-align: center;
}

.social_icons svg {
    margin: 1rem 1rem;
    font-size: 3rem;
    border: 1px solid;
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    transition: 300ms ease;
    cursor: pointer;
}

.social_icons svg:hover {
    transform: scale(1.1);
}

.social_icons svg:nth-child(1) {
    color: red;
}

.social_icons svg:nth-child(2) {
   color: blue;
}

.social_icons svg:nth-child(3){
    color: rgb(169, 4, 32);
}

form {
    box-shadow: 0 0 15px;
    padding: 20px 50px;
    border-radius: 10px;
}

.input_fields {
    margin: 1rem 0;
    font-size: 1.5rem;
}

.input_fields .input {
    width: 100%;
    padding: 10px 15px;
    margin: 0.5rem 0;
    border-radius: 10px;
    border: none;
}

.btn_container button {
    margin: 0;
}

@media screen and (max-width:768px) {
    .contact_section {
        padding: 5% 9%;
    }

    .contact_details {
        gap: 50px;
    }

    form {
        padding: 20px;
    }
}

@media screen and (max-width:426px) {

    .contact_details {
        flex-direction: column-reverse;
        gap: 30px;
    }
}